* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #1a1b21;
    width: 317px;
    height: 780px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body {
    font-family: Inter, sans-serif;
    color: #fff;
    background-color: #23252c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    all:unset;
}

::selection {
    background-color: #fff;
    color: #23252c;
}

/* COMMON CLASSES */

section h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

section p {
    font-size: 0.64rem;
    line-height: 150%;
}

/* INFO SECTION */

.info-section {
    overflow: hidden;
}
.image-container {
    width: 317px;
    height: 317px;
}

.profile-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 50% 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-name {
    margin-top: 21px;
    font-size: 1.5625rem;
    text-align: center;
}

.job-title {
    margin-top: 6.19px;
    font-size: 0.8rem;
    color: #f3bf99;
    text-align: center;
}

.website {
    margin-top: 8.81px;
    text-align: center;
    font-size: 0.64rem;
}

.buttons {
    display: flex;
    gap: 8px;
    margin: 15px 2.25em 2.06em 2.25em;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    font-family: inherit;
    color: #374151;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 13px 9px 11px;
    width: 115px;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
}

.btn:hover {
    cursor: pointer;
    background-color: #23252c;
    color: #fff;
    border: none;
}

.btn-secondary {
    background-color: #5093e2;
    color: #fff;
    border: 1px solid #5093e2;
}
/* ABOUT SECTION */
.about-section {
    margin: 0 2.25em;

    line-height: 150%;
    color: #dcdcdc;
}

/* INTERESTS SECTION */

.interests-section {
    margin: 0 2.25em;
    margin-top: 1em;

    line-height: 150%;
    color: #dcdcdc;
}

/* FOOTER SECTION */
footer {
    height: 64px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.icons:hover {
    cursor: pointer;

    color: #aba8a8;
}
